$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

header {
  // max-width: 600px;
  max-height: 200px;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  background-color: rgb(205, 0, 203);
  color: rgb(220, 255, 48);
  padding: 30px 20px 30px 20px;
}

.title {
  font-size: 64px;
  font-family: 'Monoton', cursive;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  text-align: center;
}

html, body {
  max-height: 2400px;
  margin: 0;
  padding: 0;
  text-align: center;
  // color: rgb(170, 250, 70);
}

.message {
  color: rgb(205, 0, 203);
  font-family: 'Montserrat', cursive;
  font-size: 18px;
  text-align: center;
}

.img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
}

.main-div {
  margin: 0 auto;
  max-width: 537px;
  max-height: 900px;
  background-color: white;
  text-align: center;
}

.box {
  width: 160px;
  height: 160px;
  border: 6px solid gray;
  background-color: white;
}

.box2 {
  width: 240px;
  height: 90px;
  border: 3px solid gray;
  background-color: white;
  text-align: center;
}

.box3 {
  width: 240px;
  height: 75px;
  border: none;
  background-color: white;
  padding-top: 36px;
  text-align: center;
}

h3, h4 {
  color: black;
  font-family: 'Montserrat', cursive;
  font-size: 18px;
}

.my-input {
  color: rgb(205, 0, 203);
  width: 440px;
  height: 45px;
  font-size: 'Montserrat', cursive;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgb(205, 0, 203);
}

.button {
  background-color: rgb(202, 111, 255);
  text-align: center;
  margin: 0 auto;
  width: 440px;
}

footer {
  max-height: 300px;
  font-size: 18px;
  font-family: 'Montserrat', cursive;
  // margin: 0;
  background-color: rgb(205, 0, 203);
  color: rgb(220, 255, 48);
  padding: 12px;
}

.copyright {
  color: rgb(220, 255, 48);
  font-family: 'Montserrat', cursive;
  font-size: 36px;
}
